<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.ListTypeBookActivity"/>
        <activity android:name=".activities.ListBillActivity"/>
        <activity android:name=".activities.BillDetailActivity"/>
        <activity android:name=".activities.TypeBookDetailActivity"/>
        <activity android:name=".activities.AddTypeBookActivity"/>
        <activity android:name=".activities.ListBookActivity"/>
        <activity android:name=".activities.BookActivity"/>
        <activity android:name=".activities.AddBookActivity"/>
        <activity android:name=".activities.AddBillActivity"/>
        <activity android:name=".activities.AddDetailBillActivity"/>
        <activity android:name=".activities.TotalMoneyActivity"/>
        <activity android:name=".activities.TopBookActivity"/>

        <activity
            android:name=".activities.LoadingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>